[submodule "lib/moonstone"]
	path = lib/moonstone
	url = git@github.com:enyojs/moonstone.git
[submodule "lib/spotlight"]
	path = lib/spotlight
	url = git@github.com:enyojs/spotlight.git
[submodule "lib/layout"]
	path = lib/layout
	url = git@github.com:enyojs/layout.git
[submodule "enyo"]
	path = enyo
	url = git@github.com:enyojs/enyo.git
[submodule "lib/enyo-cordova"]
	path = lib/enyo-cordova
	url = git@github.com:enyojs/enyo-cordova.git
[submodule "lib/enyo-webos"]
	path = lib/enyo-webos
	url = git@github.com:enyojs/enyo-webos.git
[submodule "lib/enyo-ilib"]
	path = lib/enyo-ilib
	url = git@github.com:enyojs/enyo-ilib.git
[submodule "deploy/gh-pages"]
	path = deploy/gh-pages
	url = git@github.com:enyojs/moon-flickr.git
